body {
  font-family: monospace;
  background: lavender;
}

#container {
  width: 75%;
  margin: auto;
}

header,
form {
  padding: 10px;
}

header {
  display: grid;
  background: skyblue;
  height: 300px;
  grid-template-columns: 1fr 1fr;
}

img {
  width: 100%;
  height: inherit;
}

h1 {
  text-align: center;
}

#select {
  margin-left: 10%;
  margin-top: 20px;
}

#review {
  width: 50%;
  margin: 5% auto;
}

#review-button {
  width: 30%;
}
